.App-logo {
  height: 20vmin;
  padding-right: 20px;
}

.App-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10vh;
  font-weight: 600;
  color:#1C75BC;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
}

.App-page {
  background-color: #126379;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}